<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-voca-login" version="0.0.1">
    <name>VocaLogin</name>
    <description>voca login plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,externalkeyboard</keywords>

    <engines>
	<engine name="cordova" version=">=3.2.0" />
    </engines>

    <js-module src="www/vocaLogin.js" name="vocaLogin">
    	<clobbers target="window.VocaLogin" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="VocaLogin">
                <param name="ios-package" value="CDVVocaLogin" />
	              <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVVocaLogin.h" />
        <source-file src="src/ios/CDVVocaLogin.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="VocaLogin">
                <param name="android-package" value="org.apache.cordova.vocaLogin.VocaLogin" />
                <param name="onload" value="true" />
	    </feature>
        </config-file>

        <source-file src="src/android/VocaLogin.java" target-dir="src/org/apache/cordova/vocaLogin" />
    </platform>

</plugin>
